:root {
    --color-primary: #fff;
    --color-secondary: #FFF8F3;
    --color-accent: #FD6E0A;
    --color-headings: #181818;
    --color-headings-darker: #474747;
    --color-body: #757575;
    --font-size-h3-small: 2rem;
    --font-size-body-small: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
    color: var(--color-body);
    /* margin: 5rem; */

}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h4,
h5 {
    color: var(--color-headings-darker);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 8.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

/* Buttons */

.btn {
    border: 0;
    border-radius: 5px;
    background: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.8rem 3.5rem;
}

.btn--outline {
    background: #fff;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
}

.btn--outline:hover {
    background: var(--color-accent);
    border: 0;
    color: #fff;
}

.btn--icon {
    display: inline-flex;
    gap: 5px;
    padding: 1.8rem;
}

/* Container (1140px) */

.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}


/* Nav */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.nav__item>a {
    text-decoration: none;
    color: var(--color-headings-darker);
    font-size: 2rem;
    font-weight: 400;
}


/* Blocks */

.block {
    background: #fff;
}

.block--colored {
    background: var(--color-secondary);
}



/* Hero Area */

.hero {
    height: 100vh;
}


/* About Me Area */

.about .container {
    margin: 10rem auto;
    padding: 10rem;
    border-radius: 10px;
}

.about__heading {
    margin-top: 0;
    margin-bottom: 2rem;
}

.about__content {
    margin-bottom: 2.5rem;
}

.about__table {
    border-collapse: collapse;
    font-size: 2rem;
    margin: 0 auto;
}

.about__table th {
    font-weight: 400;
}

.about__table td {
    font-weight: 700;
}

.about__table th,
.about__table td {
    /* border: 1px solid black; */
    padding: 0 2.5rem;
}