:root {
    --color-primary: #fff;
    --color-secondary: #FFF8F3;
    --color-accent: #FD6E0A;
    --color-headings: #181818;
    --color-headings-darker: #474747;
    --color-body: #757575;
    --font-size-h3-small: 2rem;
    --font-size-body-small: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
    color: var(--color-body);
    /* margin: 5rem; */

}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.1;
}

h4,
h5 {
    color: var(--color-headings-darker);
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.1;
}

h5 {
    color: var(--color-body);
}

h1 {
    font-size: 8.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

/* Buttons */

.btn {
    border: 0;
    border-radius: 5px;
    background: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.8rem 3.5rem;
}

.btn--outline {
    background: #fff;
    outline: 2px solid var(--color-accent);
    color: var(--color-accent);
    transition: all 0.2s;
}

.btn--outline:hover {
    background: var(--color-accent);
    outline: 0;
    color: #fff;
}

.btn--icon {
    display: inline-flex;
    gap: 5px;
    padding: 1.8rem;
}

/* Container (1140px) */

.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}


/* Nav */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 4rem;
    padding: 0;
}

.nav__item>a {
    text-decoration: none;
    color: var(--color-headings-darker);
    font-size: 2rem;
    font-weight: 400;
}


/* Blocks */

.block {
    background: #fff;
}

.block--colored {
    background: var(--color-secondary);
}


/* Header Area */

.header {
    padding: 3rem 0;
}

.header .nav__list {
    margin-left: auto;
    margin-right: 4rem;
}

/* Hero Area */

.hero {
    margin-bottom: 10rem;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.hero__content {
    text-align: left;
}

.hero__heading-before {
    font-size: 4.5rem;
    font-weight: 600;
}

.hero__heading {
    margin-top: 0;
}

.hero__image {
    margin-bottom: -8px;
    margin-right: 3rem;
}


/* About Me Area */

.about {
    margin-bottom: 10rem;
}

.about.container {
    padding: 10rem;
    border-radius: 10px;
}

.about__heading {
    margin-top: 0;
    margin-bottom: 2rem;
}

.about__content {
    margin-bottom: 2.5rem;
}

.about__table {
    border-collapse: collapse;
    font-size: 2rem;
    margin: 0 auto;
}

.about__table th {
    font-weight: 400;
}

.about__table td {
    font-weight: 700;
}

.about__table th,
.about__table td {
    padding: 0 2.5rem;
}


/* Skills Area */

.skillset {
    margin-bottom: 10rem;
}

.skillset__information {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}

.skill {
    text-align: left;
    display: flex;
    gap: 2.4rem;
}

.skill__card {
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill__card:hover {
    outline: 2px solid var(--color-accent);
}

.skill__card>h3 {
    font-size: var(--font-size-h3-small);
}

.skill__card>p {
    font-size: var(--font-size-body-small);
}


/* Resume Area */

.resume {
    margin-bottom: 10rem;
}

.resume__summary {
    margin-top: 7rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 5rem;
    text-align: left;
}

.resume__heading {
    font-size: 100px;
    margin-bottom: 4rem;

}

.resume__content>p {
    margin-top: 2rem;
}

.resume__content {
    border-bottom: 2px solid #D1D1D1;
    margin-bottom: 3rem;
}