:root {
    --color-primary: #fff;
    --color-secondary: #FFF8F3;
    --color-accent: #FD6E0A;
    --color-headings: #181818;
    --color-headings-darker: #474747;
    --color-body: #757575;
    --font-size-h3-small: 2rem;
    --font-size-body-small: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
    color: var(--color-body);
    margin: 5rem;

}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h4,
h5 {
    color: var(--color-headings-darker);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 8.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

/* Buttons */

.btn {
    border: 0;
    border-radius: 5px;
    background: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.8rem 3.5rem;
}

.btn--outline {
    background: #fff;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
}

.btn--outline:hover {
    background: var(--color-accent);
    border: 0;
    color: #fff;
}

.btn--icon {
    display: inline-flex;
    gap: 5px;
    padding: 1.8rem;
}

/* Container (1140px) */

.container {
    max-width: 1140px;
}